<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{ filename='style.css')}}">
  </head>
  <body>
  	<form action='/response'>
  	<label for="cars">Choose a car to get some facts about:</label>
  	<select name = "CarSelected">
  		{{ options }}
  	</select>
  	<br>
  	<input type = "submit" id = "check">
	</form>
	<p> These facts are pulled from a dataset containg various facts about over 5,000 cars manufactured in the mid 2000s. 
	The dataset can be downloaded by clicking on the car below.
	</p>
	<a href="cars.json" download="cars-dataset">
  	<img src="car.jpg" alt="car-button" width="96" height="96">
	</a>
  </body>
</html>
