!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{filename='style.css')}}">
  </head>
  <body>
  	<h1>This car has a {{response}} transmission.</h1>
  	<br>
    <h1>It gets {{response2}} miles per gallon while driving in cities.</h1>
    <br>
    <h1>It gets {{response3}} miles per gallon while driving on the highway.</h1>
    <br>
    <h1>It has {{response4}} horsepower.</h1>
    <br>
    
    <p> 
    The car with the highest horsepower is the 2010 Bentley Brooklands, with a horsepower of 621! 
    </p>
  
    <img src = "bentley.jpeg" alt = "bentley">
    <p id = "Img-1-Credit">
    Image credit: https://www.classicdriver.com/en/car/bentley/brooklands/2010/693029
    </p>
    <br>
    <br>
    
    <p> 
    The car with the highest horsepower is the 2010 Bentley Brooklands, with a horsepower of 621! 
    </p>
  
    <img src = "bentley.jpeg" alt = "bentley">
    <p id = "Img-1-Credit">
    Image credit: https://www.classicdriver.com/en/car/bentley/brooklands/2010/693029
    </p>
    <br>
    <br>
    <p> 
    The car with the highest horsepower is the 2010 Bentley Brooklands, with a horsepower of 621! 
    </p>
  
    <img src = "bentley.jpeg" alt = "bentley">
    <p id = "Img-1-Credit">
    Image credit: https://www.classicdriver.com/en/car/bentley/brooklands/2010/693029
    </p>
    <br>
    <br>
    
    <p> 
    28.5% (1,127) of the cars have manual transmissions. The other 71.5% (3,949) have automatic transmissions.
    </p>
   
    <img src = "manual-vs-automatic.jpg" alt = "Transmission">
    <p id = "Img-3-Credit">
    Image credit: http://www.drivearmy.com/manual-vs-automatic-transmission/
    </p>
    <br>
    <br>
  </body>
</html>
