!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="{{filename='style.css')}}">
  </head>
  <body>
  	<h1>This car has a {{response}} transmission.</h1>
  	<br>
    <h2>It gets {{response2}} miles per gallon while driving in cities.</h2>
    <br>
    <h3>It gets {{response3}} miles per gallon while driving on the highway.</h3>
    <br>
    <h4>It has {{response4}} horsepower.</h4>
    <br>
    
    <p id = "Extras-intro">
    Here are some more fun facts about cars in the dataset! 
    </p>
    
    <p> 
    The car with the highest horsepower is the 2010 Bentley Brooklands, with a horsepower of 621! 
    </p>
  
    <img src = "bentley.jpeg" alt = "bentley">
    <div class = "credits">
    <p id = "Img-1-Credit">
    Image credit: https://www.classicdriver.com/en/car/bentley/brooklands/2010/693029
    </p>
    </div>
    <br>
    <br>
    
    
    <p> 
    28.5% (1,127) of the cars have manual transmissions. The other 71.5% (3,949) have automatic transmissions.
    </p>
   
    <img src = "manual-vs-automatic.jpg" alt = "Transmission">
    <div class = "credits">
    <p id = "Img-2-Credit">
    Image credit: http://www.drivearmy.com/manual-vs-automatic-transmission/
    </p>
    </div>
    <br>
    <br>
    
    <p> 
    34.4% (1,751) of the cars are rear-wheel drive. 30.9% are front-wheel drive. 18.1% are four-wheel drive. The remaining 16.4% (836) are all-wheel drive.
    </p>
   
    <img src = "drivetrains.jpg" alt = "Transmission">
    <div class = "credits">
    <p id = "Img-3-Credit">
    Image credit: http://www.drivearmy.com/manual-vs-automatic-transmission/
    </p>
    </div>
    <br>
    <br>
    
    <p> 
    The company that manufactured the most cars in the time period the dataset covers (2009-2012) was Ford, with 603 cars (11.8%)!
    </p>
   
    <img src = "drivetrains.jpg" alt = "Transmission">
    <div class = "credits">
    <p id = "Img-4-Credit">
    Image credit: http://www.drivearmy.com/manual-vs-automatic-transmission/
    </p>
    </div>
    <br>
    <br>
  </body>
</html>
